body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2810px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2810px;
}
#u52 {
  position:absolute;
  left:2px;
  top:1397px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:672px;
  top:22px;
  width:75px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  position:absolute;
  left:865px;
  top:12px;
  width:80px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  position:absolute;
  left:966px;
  top:12px;
  width:79px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:1064px;
  top:12px;
  width:91px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:1171px;
  top:12px;
  width:91px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  position:absolute;
  left:412px;
  top:676px;
  width:193px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
