body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2429px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2429px;
}
#u28 {
  position:absolute;
  left:2px;
  top:1206px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:680px;
  top:7px;
  width:71px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:761px;
  top:7px;
  width:92px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:869px;
  top:7px;
  width:87px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:973px;
  top:7px;
  width:78px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:1061px;
  top:7px;
  width:100px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:1177px;
  top:7px;
  width:76px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
